@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom styles for dark mode */
.dark {
    --bg-color: #1a202c;
    --text-color: #cbd5e0;
  }
  
  .dark body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
