.container{
    margin: 0px;
    display: grid;
    padding: 0px;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 2fr 1fr;
  }
  /* body,html {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
    background-color: #E6D2AD;
  } */
  body, html {
    height: 100%;
}
h1 {
  background-size: contain;
  text-align: center;
  font-family: Lato;
  font-size: 60px;
  color: #0B3C3D;
  font-weight: bold;
  text-transform: capitalize;
}

h2 {
  color: #AA7338;
  font-size: 34px;
  font-family: 'Lora', sans-serif;
  text-align: center;
  font-weight: 400;
}

h3 {
  color: #0077A2;
  text-align: center;
  font-family: 'Lora', sans-serif;
}

h4 {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: regular;
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
}

a {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
}
  div img{
    align-items: center;
  }
  
  .Menulogo{
    /* border-radius: 4rem; */
    padding-left:600px;
  }
  .tourImg {
    padding-left: 70px;
  }
  .des_img{
    padding-left: 120px;
  }
button {
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  height: 45px;
  justify-content: center;
  font-size:0.9rem;
  padding:5px;
  box-shadow: #0077A2;
 }
  button :hover{
    background-color: #ededed;
    transform: scale(1.05);
  }
.buttonCTA{
    background-color : #8435de;
}
  /* button a{
    color: #fff;
  } */
  
  /* button {
    background-color: #E64A6F;
    transform: scale(1.05);
  } */
.book-now-btn{
    background-color: #FF6F91;
    color: white;
    padding: 30px;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 90px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size:0.9rem;
    padding:5px;
    padding-top: 10px;
    transition: all ease 0.2s;
    margin-left: 130px;
  }
  .book-now-btn:hover{
    background-color: #FF4E73;
    transform: scale(1.05);
  }
  .book-not-btn :clicked {
    background-color: #E64A6F;
    transform: scale(1.05);
  }
  ul {
    background-size: cover;
    gap:16px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 35px;
 }
 nav ul {
     list-style: none;
     text-align: center;
     padding-left: 0;
     width: 100%;
 }
 nav ul a {
  color: #333;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   padding-inline: 20px;
 }
.active{
   font-weight: bold;
   transition: all ease 0.3s;
   color:#4CAF50;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .menu li a{
  font-family: 'Hind Madhurai' sans-serif;
    margin:  0px, 5px;
    padding: 10px 10px;
    color: #2CAEDE;
    position: relative;
    transition: all ease 0.3s;
 }
 .menu li a::after{
    content: '';
    position: absolute;
    height:  3px;
    bottom: 0px;
    width: 30%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    background-color: #333;
    transition: all ease 0.3s;
 }
 .menu li a:hover ::after, .menu li a.active::after{
    width: 30%;
 }
 .menu li a:hover, .menu li  {
    color: #22A0CD;
 }
 a.active{
  color: rgb(30 64 175 / var(--tw-text-opacity));
 }
 section {
   display: flex;
   border-radius: 8px;
   color: #000 ;
   gap: 2rem 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;;
 }
 article {
 flex: 1;
 border-radius: 1rem;
 }
 article img {
  max-width: 100%;
 }
 article ul {
   list-style: none;
 }
.Hero {
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.Hero a:hover {
    background-color: #4CAF50;
    color: #fff;
}
.Hero_div{
    text-align: center;
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .Hero_button{
   font-family: 'Quicksand', sans-serif;
   padding-top: 50px;
   margin-left: 70px;
   font-size: 16px;
   font-weight: regular;
   width: max-content;
   border-radius: 20px;
   text-decoration-style: solid;
   padding:10px;
   border-style:solid ;
   border-width: 2px;
   border-color:#fff;
   background-color: #ff6f91;
   color:#fff;
  }
  .Hero_button :hover{
   background-color: #FF4E73;
   transform: scale(1.05);
   box-shadow:  8px 8px 30px rgba(27, 26, 26, 0.15);
  }
  .Fashion_Illustration{
    background-color: #eee;
    padding: 20px;
  }
  .work{
    padding-left: 70px;
  }
 .Work{
    background-color: #fff;
    padding-left: 70px;
 }
.newletter-form{
  font-family: 'Quicksand' sans-serif;
}
.signupform{
  padding-bottom: 30px;
  padding-left: 70px;
  font-family: 'Quicksand' sans-serif;
 }
 .fname, .lname,.email{
  font-family: 'Quicksand' sans-serif;
  font-size: 16px;
  padding-right: 10px;
 }
 .btm-nav{
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  padding-inline: 60px;
  background-color: #4CAF50;

 }
 .btm-nav a{
  color: #fff;
  padding-left: 90px;
 }
 body {
  scroll-behavior: smooth;
}

/* Background Animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  background: linear-gradient(270deg, #ff9a9e, #acf3e7, #fad0c4, #fbc2eb, #a18cd1, #fad0c4, #ffecd2);
  background-size: 1400% 1400%;
  animation: gradient 15s ease infinite;
}

@media only screen and(min-width: 1200px){

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 16pt;
}
h4 {
    font-size: 14pt;
}
.menuBtn{
  display: none;
}
.header{
  display: block;
}

}

@media only screen and (max-width: 1200px) {
  .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
  }
  h1 {
      font-size: 56px;
  }
  h2 {
      font-size: 36px;
  }
  h3 {
      font-size: 16pt;
  }
  h4 {
      font-size: 14pt;
  }
  .Hero {
      flex-direction: column;
  }
  .menuBtn{
    display: none
  }
  .header{
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 32px;
  }
  h3 {
      font-size: 14pt;
  }
  h4 {
     
    font-size: 12pt;
  }
  .header{
    display: contents;
  }
  .Hero {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 20%;
  }
  .toggle-button{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .menuBtn{
    display: none
  }
  .header{
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }
  h1 {
      font-size: 40px;
  }
  h2 {
      font-size: 28px;
  }
  h3 {
      font-size: 12pt;
  }
  h4 {
      font-size: 10pt;
  }
  .header{
    display: none;
  }
  .Hero {
      flex-direction: column;
  }
  .header{
    display: block;
  }
  .About-section {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 20%;
  }
  .breadcrumb{
    display: none;
  }
  .menuBtn{
    display: none
  }
}

@media only screen and (min-width: 600px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }
  h1 {
      font-size: 32px;
  }
  h2 {
      font-size: 24px;
  }
  h3 {
      font-size: 10pt;
  }
  h4 {
      font-size: 8pt;
  }
  .Hero {
      flex-direction: column;
  }
  .About-section {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 10%;
  }
  .breadcrumb{
    display: none;
  }
  .btmsm{
    display: none;
  }
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar ul {
    list-style: none;
    padding: 10;
    margin: 0;
  }
  .sidebar ul li {
    padding: 15px;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  .sidebar ul li a:hover {
    color: #ffbf00;
  }
  .toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }
  
  .Hero_img{
    display: none;
  }
  
}
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  .hero-section img {
    margin-top: 1rem;
  }
  .specials-section {
    grid-template-columns: 1fr;
  }
  .menuBtn{
    display: block;
  }
  .header{
    display: none;
  }
  .breadcrumb{
    display: none;
  }
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar ul {
    list-style: none;
    padding: 10;
    margin: 0;
  }
  .sidebar ul li {
    padding: 15px;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  .sidebar ul li a:hover {
    color: #ffbf00;
  }
  .toggle-button {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }
  .Hero_img{
    display: none;
  }

  .menutype div{
    flex-direction: column;
    gap: 1rem;
    
  }
}
