*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#0f172a;

color:white;

transition:.3s;

}

nav{

display:flex;

justify-content:space-between;

padding:25px 80px;

align-items:center;

background:#111827;

position:fixed;

width:100%;

}

ul{

display:flex;

gap:30px;

list-style:none;

}

a{

color:white;

text-decoration:none;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:160px 80px;

}

.hero img{

width:400px;

}

.btn{

padding:15px 30px;

background:#3b82f6;

border-radius:8px;

display:inline-block;

margin-top:25px;

}

section{

padding:100px 80px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-top:40px;

}

.card{

background:#1e293b;

padding:35px;

border-radius:20px;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

form{

display:flex;

flex-direction:column;

gap:20px;

width:500px;

}

input,textarea{

padding:15px;

border:none;

border-radius:8px;

}

button{

padding:15px;

background:#3b82f6;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

footer{

padding:40px;

text-align:center;

}
